body {
    background-color: #7b879d;
    font-family: Outfit;
}

img {
    padding: 25px;
    border-radius: 50px;
    width: 500;
}

.boarder {
    background-color: white;
    border-radius: 50px;
    text-align:center;
    width: 625px;
    margin: 0 auto;
}

.top {
    font-family: 'Outfit', sans-serif;
    font-size: 30px;
    font-weight: 700;
    
}

.bottom {
    font-family: 'Outfit', sans-serif;
    font-size: 20px;
    font-weight: 400;
    margin: 10px;
}